extends ../layout

block content
  .page-header
    h3 New character
  form.form-horizontal(id='character-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', placeholder='Name', autofocus, required)

    .form-group
      label.col-sm-3.control-label(for='name') Rank
      .col-sm-7
        select.form-control(name='rank', id='rank', autofocus, required)
          each rank in ranks
            - var id = rank.id
            option(value=id)= rank.name

    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Create my character
